* {
    margin: 0;
    padding: 0;
}
.green {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 5px;
    left: 5px;
}
.red {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
}
.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 15px;
    left: 15px;
}
.black {
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: -1;
}