.parent {
    width: 600px;
    height: 300px;
    background-color: #eee;
    margin: auto;
    padding: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
}
div {
    padding: 10px;
    width:calc(88%/3);
    background-color: #607d8b;
    display: flex;
    justify-content: center;
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.one {
    padding: 10px;
    background-color: #607d8b;
    display: flex;
    justify-content: center;
    order: 6;
    align-self: flex-end;
}

.two {
    padding: 10px;
    background-color: #607d8b;
    display: flex;
    justify-content: center;
    order: 5;
}
.three {
    padding: 10px;
    background-color: #607d8b;
    display: flex;
    justify-content: center;
    order: 2;
    align-self: flex-start;
}
.four {
    padding: 10px;
    background-color: #607d8b;
    display: flex;
    justify-content: center;
    order: 3;
}
.five {
    padding: 10px;
    background-color: #607d8b;
    display: flex;
    justify-content: center;
    order: 4;
}
.six {
    padding: 10px;
    background-color: #607d8b;
    display: flex;
    justify-content: center;
    order: 1;
} 