div {
    margin: 20px auto;
    width: 600px;
    padding: 10px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: #eee;
    border-right: #673ab7 solid 5px ;
    border-left: #f44336 solid 5px ; 
    position: relative;
}
div::first-letter {
    color: #f44336;
}
div:before {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: 5px;
    left: -5px;
    top: -5px;
    /* background-color: #f44336; */
    background-image: linear-gradient(to right , #f44336 20%, green 20% , green 40% , blue 40% , blue 60% , red 60% , red 80% ,  #673ab7 80% );
}
div:after {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: 5px;
    left: -5px;
    bottom: -5px;
    /* background-color: #f44336; */
    background-image: linear-gradient(to right , #f44336 20%, green 20% , green 40% , blue 40% , blue 60% , red 60% , red 80% ,  #673ab7 80% );
}